*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .topic{
    margin-top: 40px;
    margin-left: 40px;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;      /*Добавлено для скрытия текста, 
                            который выходит за границы .topic */
}

.topic img{
    border: 1px solid transparent;
    margin:  15px 24px;
    object-fit: cover;
 }

 .topic p{
    position: absolute;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    font-size: 12pxs;
    line-height: 14.5px;
}
 


 .topic:hover {
    width: 435px;
    height: 304px;
    border-radius: 15px;
}
.topic:hover img{
   width: 380px;
   height: 252px;
}
.topic:hover p {
    display: none; /* Используем display: none; чтобы скрыть блок <p> */
}

 
 